body {
  font-family: "Lexend", sans-serif;
  background-color: #0d0d0d;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: #111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: 500;
  color: #caff33;
}

.nav-item {
  padding: 0.5rem 1rem;
  margin-left: 0.5rem;
  border-radius: 0.3rem;
  font-weight: 500;
  text-decoration: none;
  color: #fff;
}

.nav-item.signup {
  background-color: #caff33;
  color: #0d0d0d;
}

.nav-item.login {
  background-color: transparent;
  color: #caff33;
}

.nav-item:hover {
  opacity: 0.8;
}

.form-container {
  background: #1c1c1c;
  border-radius: 8px;
  padding: 40px;
  margin-top: 60px;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 640px;
}

.form-header h1 {
  color: #e4e4e7;
  font-size: 24px;
  text-align: center;
  margin: 20px 0;
}

.form-body input,
.form-body .form-control {
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
  background-color: #FFFFFF;
  border: none;
  border-radius: 5px;
  color: #0d0d0d;
  font-size: 16px;
}

.form-body .form-label {
  color: #e4e4e7;
  margin-bottom: 5px;
}

.form-body button {
  width: 100%;
  padding: 15px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  background-color: #caff33;
  color: #1c1c1c;
  font-size: 18px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.form-body button:hover {
  background-color: #b3cc2a;
}

.form-body #password-progress {
  color: #e4e4e7;
  font-size: 0.875rem;
  margin-top: 0.5rem;
}

.form-footer {
  display: block;
  text-align: center;
  margin-top: 20px;
}

.login {
  color: #e4e4e7;
  text-decoration: none;
}