.html,
.body {
  background-color: #121212;
  color: #FFFFFF;
}

.sidebar {
  background-color: #262626;
  color: #FFFFFF;
  width: 280px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: -280px;
  z-index: 100;
  padding-top: 48px;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-transition: left 0.3s;
  transition: left 0.3s;
}

#sidebarToggle {
  position: fixed;
  z-index: 102;
  left: 10px;
  top: 10px;
  cursor: pointer;
}

.textarea-custom-size {
  resize: none;
  height: 51px;
}

.bank-banner {
  background-color: #333333;
}
.bank-banner .navbar-dark .navbar-brand {
  color: #CAFF33;
}
.bank-banner .navbar-dark .navbar-brand:hover {
  color: #d7ff66;
}

.welcome {
  color: #CAFF33;
}

.main-content {
  margin-left: 0;
  -webkit-transition: margin-left 0.3s;
  transition: margin-left 0.3s;
  background-color: #121212;
  color: #FFFFFF;
}
.main-content .card {
  background-color: #333;
  color: #FFFFFF;
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}
.main-content .card .card-title {
  color: #DBFF66;
  font-weight: bold;
}

.btn {
  border-radius: 5px;
  padding: 10px 15px;
  font-weight: bold;
}
.btn.btn-danger {
  background-color: #F44336;
}
.btn.btn-danger:hover {
  background-color: #ea1c0d;
}
.btn.btn-success {
  background-color: #4CAF50;
}
.btn.btn-success:hover {
  background-color: #3d8b40;
}
.btn.btn-primary {
  background-color: #CAFF33;
  color: #FFFFFF;
}
.btn.btn-primary:hover {
  background-color: #d7ff66;
}

form input,
form select,
form textarea {
  border-radius: 5px;
  background-color: #1E1E1E;
  color: #FFFFFF;
  border: 1px solid #333333;
  padding: 10px;
}
form input:focus,
form select:focus,
form textarea:focus {
  outline: none;
  border-color: #DBFF66;
}

.navbar {
  background-color: #333333;
}
.navbar .navbar-brand,
.navbar .navbar-dark .navbar-toggler {
  color: #FFFFFF;
  font-size: 1.5em;
}
.navbar .navbar-brand:hover,
.navbar .navbar-dark .navbar-toggler:hover {
  color: #d7ff66;
}

.offcanvas-start {
  background-color: #262626;
  color: #FFF;
}

@media (max-width: 768px) {
  .sidebar {
    left: 0;
  }
  .main-content {
    margin-left: 0;
  }
}
@media (max-width: 480px) {
  .sidebar {
    left: 0;
  }
  .main-content {
    margin-left: 0;
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.element-animate {
  -webkit-animation: fadeIn 0.3s ease-in-out;
          animation: fadeIn 0.3s ease-in-out;
  background-color: #121212;
  color: #FFFFFF;
}

body {
  color: #FFFFFF;
  font-size: 14px;
  background-color: #121212;
  color: #FFFFFF;
  font-family: sans-serif;
}
@media (min-width: 768px) {
  body {
    font-size: 16px;
  }
}
@media (min-width: 1024px) {
  body {
    font-size: 18px;
  }
}

.navbar {
  background-color: #333333;
}

.offcanvas-start {
  background-color: #262626;
  color: #FFF;
}

.table {
  background-color: transparent;
}
.table th {
  background-color: #656567;
}
.table.table-hover tbody tr:hover {
  background-color: #727274;
}
.table td {
  color: #F2FFCC;
}

.table-dark th {
  background-color: #656567;
  color: #FFF;
}

.table-striped {
  color: #FFF;
}
.table-striped .table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.03);
  color: #FFF;
}
.table-striped td {
  color: #F2FFCC;
}