.sidebar {
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding-top: 48px;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (min-width: 768px) {
  .sidebar {
    width: 280px;
  }
}

.main-content {
  margin-left: 0;
}
@media (min-width: 768px) {
  .main-content {
    margin-left: 280px;
  }
}

#sidebarToggle {
  position: fixed;
  z-index: 102;
  left: 280px;
  top: 10px;
  -webkit-transition: left 0.3s;
  transition: left 0.3s;
}